In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as plt

In [2]:
df_c = pd.read_csv("amazon_review.csv")

In [3]:
df = df_c.copy()

In [4]:
df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
0,A3SBTW3WS4IQSN,B007WTAJTO,NaN,"[0, 0]",No issues.,4.0,Four Stars,1406073600,2014-07-23,138,0,0
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4910,A2LBMKXRM5H2W9,B007WTAJTO,"ZM ""J""","[0, 0]",I bought this Sandisk 16GB Class 10 to use wit...,1.0,Do not waste your money.,1374537600,2013-07-23,503,0,0
4911,ALGDLRUI1ZPCS,B007WTAJTO,Zo,"[0, 0]",Used this for extending the capabilities of my...,5.0,Great item!,1377129600,2013-08-22,473,0,0
4912,A2MR1NI0ENW2AD,B007WTAJTO,Z S Liske,"[0, 0]",Great card that is very fast and reliable. It ...,5.0,Fast and reliable memory card,1396224000,2014-03-31,252,0,0
4913,A37E6P3DSO9QJD,B007WTAJTO,Z Taylor,"[0, 0]",Good amount of space for the stuff I want to d...,5.0,Great little card,1379289600,2013-09-16,448,0,0
4914,A8KGFTFQ86IBR,B007WTAJTO,Zza,"[0, 0]",I've heard bad things about this 64gb Micro SD...,5.0,So far so good.,1388620800,2014-02-01,310,0,0

mean of the product

In [5]:
df["overall"].mean()

4.587589013224822

time weighted rating

In [6]:
df["reviewTime"] = pd.to_datetime(df["reviewTime"])

In [7]:
df.dtypes

reviewerID                object
asin                      object
reviewerName              object
helpful                   object
reviewText                object
overall                  float64
summary                   object
unixReviewTime             int64
reviewTime        datetime64[ns]
day_diff                   int64
helpful_yes                int64
total_vote                 int64
dtype: object

In [8]:
current_date = df["reviewTime"].max()

In [9]:
current_date

Timestamp('2014-12-07 00:00:00')

In [10]:
df["recency"] = df.apply(lambda x:(current_date - x["reviewTime"]).days, axis = 1)

In [11]:
df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote,recency
0,A3SBTW3WS4IQSN,B007WTAJTO,NaN,"[0, 0]",No issues.,4.0,Four Stars,1406073600,2014-07-23,138,0,0,137
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0,408
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0,714
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0,381
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0,512
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4910,A2LBMKXRM5H2W9,B007WTAJTO,"ZM ""J""","[0, 0]",I bought this Sandisk 16GB Class 10 to use wit...,1.0,Do not waste your money.,1374537600,2013-07-23,503,0,0,502
4911,ALGDLRUI1ZPCS,B007WTAJTO,Zo,"[0, 0]",Used this for extending the capabilities of my...,5.0,Great item!,1377129600,2013-08-22,473,0,0,472
4912,A2MR1NI0ENW2AD,B007WTAJTO,Z S Liske,"[0, 0]",Great card that is very fast and reliable. It ...,5.0,Fast and reliable memory card,1396224000,2014-03-31,252,0,0,251
4913,A37E6P3DSO9QJD,B007WTAJTO,Z Taylor,"[0, 0]",Good amount of space for the stuff I want to d...,5.0,Great little card,1379289600,2013-09-16,448,0,0,447
4914,A8KGFTFQ86IBR,B007WTAJTO,Zza,"[0, 0]",I've heard bad things about this 64gb Micro SD...,5.0,So far so good.,1388620800,2014-02-01,310,0,0,309

In [12]:
df["recency"].describe()

count    4915.000000
mean      436.367040
std       209.439871
min         0.000000
25%       280.000000
50%       430.000000
75%       600.000000
max      1063.000000
Name: recency, dtype: float64

In [13]:
df.loc[df["recency"] <= 280, "overall"].describe()

count    1236.000000
mean        4.695793
std         0.811665
min         1.000000
25%         5.000000
50%         5.000000
75%         5.000000
max         5.000000
Name: overall, dtype: float64

In [14]:
df.loc[(df["recency"] > 280) & (df["recency"] <= 430), "overall"].describe()

count    1223.000000
mean        4.636141
std         0.898755
min         1.000000
25%         5.000000
50%         5.000000
75%         5.000000
max         5.000000
Name: overall, dtype: float64

In [15]:
df.loc[(df["recency"] > 430) & (df["recency"] <= 600), "overall"].describe()

count    1228.000000
mean        4.571661
std         1.026421
min         1.000000
25%         5.000000
50%         5.000000
75%         5.000000
max         5.000000
Name: overall, dtype: float64

In [16]:
df.loc[(df["recency"] > 600) & (df["recency"] <= 1063), "overall"].describe()

count    1228.000000
mean        4.446254
std         1.193385
min         1.000000
25%         5.000000
50%         5.000000
75%         5.000000
max         5.000000
Name: overall, dtype: float64

In [17]:
(df.loc[df["recency"] <= 280, "overall"].mean()*0.28) + \
(df.loc[(df["recency"] > 280) & (df["recency"] <= 430), "overall"].mean() * 0.26) + \
(df.loc[(df["recency"] > 430) & (df["recency"] <= 600), "overall"].mean() * 0.24) + \
(df.loc[(df["recency"] > 600) & (df["recency"] <= 1063), "overall"].mean() * 0.22)

4.595593165128118

As can be observed above, the current comments on the product received higher ratings. There may be a new update for the product.

In [18]:
df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote,recency
0,A3SBTW3WS4IQSN,B007WTAJTO,NaN,"[0, 0]",No issues.,4.0,Four Stars,1406073600,2014-07-23,138,0,0,137
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0,408
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0,714
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0,381
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0,512
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4910,A2LBMKXRM5H2W9,B007WTAJTO,"ZM ""J""","[0, 0]",I bought this Sandisk 16GB Class 10 to use wit...,1.0,Do not waste your money.,1374537600,2013-07-23,503,0,0,502
4911,ALGDLRUI1ZPCS,B007WTAJTO,Zo,"[0, 0]",Used this for extending the capabilities of my...,5.0,Great item!,1377129600,2013-08-22,473,0,0,472
4912,A2MR1NI0ENW2AD,B007WTAJTO,Z S Liske,"[0, 0]",Great card that is very fast and reliable. It ...,5.0,Fast and reliable memory card,1396224000,2014-03-31,252,0,0,251
4913,A37E6P3DSO9QJD,B007WTAJTO,Z Taylor,"[0, 0]",Good amount of space for the stuff I want to d...,5.0,Great little card,1379289600,2013-09-16,448,0,0,447
4914,A8KGFTFQ86IBR,B007WTAJTO,Zza,"[0, 0]",I've heard bad things about this 64gb Micro SD...,5.0,So far so good.,1388620800,2014-02-01,310,0,0,309

In [19]:
df["helpful_yes"].value_counts()

0       4502
1        323
2         32
3         16
4         10
5          7
6          7
7          2
8          2
22         1
82         1
51         1
14         1
1568       1
112        1
60         1
1428       1
53         1
1952       1
422        1
38         1
15         1
45         1
Name: helpful_yes, dtype: int64

In [20]:
df["helpful_no"] = df["total_vote"] - df["helpful_yes"]

In [21]:
df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote,recency,helpful_no
0,A3SBTW3WS4IQSN,B007WTAJTO,NaN,"[0, 0]",No issues.,4.0,Four Stars,1406073600,2014-07-23,138,0,0,137,0
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0,408,0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0,714,0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0,381,0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0,512,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4910,A2LBMKXRM5H2W9,B007WTAJTO,"ZM ""J""","[0, 0]",I bought this Sandisk 16GB Class 10 to use wit...,1.0,Do not waste your money.,1374537600,2013-07-23,503,0,0,502,0
4911,ALGDLRUI1ZPCS,B007WTAJTO,Zo,"[0, 0]",Used this for extending the capabilities of my...,5.0,Great item!,1377129600,2013-08-22,473,0,0,472,0
4912,A2MR1NI0ENW2AD,B007WTAJTO,Z S Liske,"[0, 0]",Great card that is very fast and reliable. It ...,5.0,Fast and reliable memory card,1396224000,2014-03-31,252,0,0,251,0
4913,A37E6P3DSO9QJD,B007WTAJTO,Z Taylor,"[0, 0]",Good amount of space for the stuff I want to d...,5.0,Great little card,1379289600,2013-09-16,448,0,0,447,0
4914,A8KGFTFQ86IBR,B007WTAJTO,Zza,"[0, 0]",I've heard bad things about this 64gb Micro SD...,5.0,So far so good.,1388620800,2014-02-01,310,0,0,309,0

In [22]:
def score_up_down_diff(up, down):
    return up - down

In [23]:
df["score_up_down_diff"] = df.apply(lambda x: score_up_down_diff(x["helpful_yes"],x["helpful_no"]), axis=1)

In [24]:
def score_average_rating(up, down):
    if up + down == 0:
        return 0
    return up / (up + down)

In [25]:
df["score_average_rating"] = df.apply(lambda x: score_average_rating(x["helpful_yes"],x["helpful_no"]), axis=1)

In [26]:
import math
import scipy.stats as st

In [27]:
def wilson_lower_bound(up, down, confidence=0.95):
    """
    Wilson Lower Bound Score hesapla

    - Bernoulli parametresi p için hesaplanacak güven aralığının alt sınırı WLB skoru olarak kabul edilir.
    - Hesaplanacak skor ürün sıralaması için kullanılır.
    - Not:
    Eğer skorlar 1-5 arasıdaysa 1-3 negatif, 4-5 pozitif olarak işaretlenir ve bernoulli'ye uygun hale getirilebilir.
    Bu beraberinde bazı problemleri de getirir. Bu sebeple bayesian average rating yapmak gerekir.

    Parameters
    ----------
    up: int
        up count
    down: int
        down count
    confidence: float
        confidence

    Returns
    -------
    wilson score: float

    """
    n = up + down
    if n == 0:
        return 0
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    phat = 1.0 * up / n
    return (phat + z * z / (2 * n) - z * math.sqrt((phat * (1 - phat) + z * z / (4 * n)) / n)) / (1 + z * z / n)

In [28]:
df["wilson_lower_bound_ratings"] = df.apply(lambda x: wilson_lower_bound(x["helpful_yes"],x["helpful_no"]), axis=1)

In [29]:
df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote,recency,helpful_no,score_up_down_diff,score_average_rating,wilson_lower_bound_ratings
0,A3SBTW3WS4IQSN,B007WTAJTO,NaN,"[0, 0]",No issues.,4.0,Four Stars,1406073600,2014-07-23,138,0,0,137,0,0,0.0,0.0
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0,408,0,0,0.0,0.0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0,714,0,0,0.0,0.0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0,381,0,0,0.0,0.0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0,512,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4910,A2LBMKXRM5H2W9,B007WTAJTO,"ZM ""J""","[0, 0]",I bought this Sandisk 16GB Class 10 to use wit...,1.0,Do not waste your money.,1374537600,2013-07-23,503,0,0,502,0,0,0.0,0.0
4911,ALGDLRUI1ZPCS,B007WTAJTO,Zo,"[0, 0]",Used this for extending the capabilities of my...,5.0,Great item!,1377129600,2013-08-22,473,0,0,472,0,0,0.0,0.0
4912,A2MR1NI0ENW2AD,B007WTAJTO,Z S Liske,"[0, 0]",Great card that is very fast and reliable. It ...,5.0,Fast and reliable memory card,1396224000,2014-03-31,252,0,0,251,0,0,0.0,0.0
4913,A37E6P3DSO9QJD,B007WTAJTO,Z Taylor,"[0, 0]",Good amount of space for the stuff I want to d...,5.0,Great little card,1379289600,2013-09-16,448,0,0,447,0,0,0.0,0.0
4914,A8KGFTFQ86IBR,B007WTAJTO,Zza,"[0, 0]",I've heard bad things about this 64gb Micro SD...,5.0,So far so good.,1388620800,2014-02-01,310,0,0,309,0,0,0.0,0.0

In [30]:
(df.sort_values( by = "score_up_down_diff" , ascending = False).head(20)).loc[:,["helpful_yes","helpful_no","score_up_down_diff","score_average_rating","wilson_lower_bound_ratings"]]

,helpful_yes,helpful_no,score_up_down_diff,score_average_rating,wilson_lower_bound_ratings
2031,1952,68,1884,0.966337,0.957544
4212,1568,126,1442,0.925620,0.912139
3449,1428,77,1351,0.948837,0.936519
317,422,73,349,0.852525,0.818577
3981,112,27,85,0.805755,0.732136
4596,82,27,55,0.752294,0.663595
1835,60,8,52,0.882353,0.784651
4672,45,4,41,0.918367,0.808109
4306,51,14,37,0.784615,0.670334
315,38,10,28,0.791667,0.657411
3807,22,3,19,0.880000,0.700442
4302,14,2,12,0.875000,0.639772
93,15,6,9,0.714286,0.500436
1609,7,0,7,1.000000,0.645670
1465,7,0,7,1.000000,0.645670
4072,6,0,6,1.000000,0.609666
2268,8,2,6,0.800000,0.490162
121,5,0,5,1.000000,0.565518
323,6,1,5,0.857143,0.486872
2695,6,1,5,0.857143,0.486872

In [31]:
(df.sort_values( by = "score_average_rating" , ascending = False).head(20)).loc[:,["helpful_yes","helpful_no","score_up_down_diff","score_average_rating","wilson_lower_bound_ratings"]]

,helpful_yes,helpful_no,score_up_down_diff,score_average_rating,wilson_lower_bound_ratings
4277,1,0,1,1.0,0.206549
2881,1,0,1,1.0,0.206549
1073,1,0,1,1.0,0.206549
445,1,0,1,1.0,0.206549
3923,1,0,1,1.0,0.206549
435,1,0,1,1.0,0.206549
2901,1,0,1,1.0,0.206549
2204,1,0,1,1.0,0.206549
2206,1,0,1,1.0,0.206549
3408,1,0,1,1.0,0.206549
4538,1,0,1,1.0,0.206549
1097,1,0,1,1.0,0.206549
2885,1,0,1,1.0,0.206549
3418,1,0,1,1.0,0.206549
4554,1,0,1,1.0,0.206549
1609,7,0,7,1.0,0.645670
402,1,0,1,1.0,0.206549
2226,1,0,1,1.0,0.206549
3901,1,0,1,1.0,0.206549
3897,1,0,1,1.0,0.206549

In [32]:
(df.sort_values( by = "wilson_lower_bound_ratings" , ascending = False).head(20)).loc[:,["helpful_yes","helpful_no","score_up_down_diff","score_average_rating","wilson_lower_bound_ratings"]]

,helpful_yes,helpful_no,score_up_down_diff,score_average_rating,wilson_lower_bound_ratings
2031,1952,68,1884,0.966337,0.957544
3449,1428,77,1351,0.948837,0.936519
4212,1568,126,1442,0.925620,0.912139
317,422,73,349,0.852525,0.818577
4672,45,4,41,0.918367,0.808109
1835,60,8,52,0.882353,0.784651
3981,112,27,85,0.805755,0.732136
3807,22,3,19,0.880000,0.700442
4306,51,14,37,0.784615,0.670334
4596,82,27,55,0.752294,0.663595
315,38,10,28,0.791667,0.657411
1465,7,0,7,1.000000,0.645670
1609,7,0,7,1.000000,0.645670
4302,14,2,12,0.875000,0.639772
4072,6,0,6,1.000000,0.609666
1072,5,0,5,1.000000,0.565518
2583,5,0,5,1.000000,0.565518
121,5,0,5,1.000000,0.565518
1142,5,0,5,1.000000,0.565518
1753,5,0,5,1.000000,0.565518

Different rankings were formed by all three methods. In the up-down technique, the up percentage is ignored, and the total number of votes given in the average rating method is ignored. The most logical results were obtained with the Wilson lower bound method.