In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as plt

In [2]:
df_control = pd.read_excel("ab_testing.xlsx", sheet_name="Control Group")

In [3]:
df_test = pd.read_excel("ab_testing.xlsx", sheet_name="Test Group")

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [5]:
df_control

     Impression      Click  Purchase    Earning
0   82529.45927 6090.07732 665.21125 2311.27714
1   98050.45193 3382.86179 315.08489 1742.80686
2   82696.02355 4167.96575 458.08374 1797.82745
3  109914.40040 4910.88224 487.09077 1696.22918
4  108457.76263 5987.65581 441.03405 1543.72018
..          ...        ...       ...        ...
35 132064.21900 3747.15754 551.07241 2256.97559
36  86409.94180 4608.25621 345.04603 1781.35769
37 123678.93423 3649.07379 476.16813 2187.72122
38 101997.49410 4736.35337 474.61354 2254.56383
39 121085.88122 4285.17861 590.40602 1289.30895

[40 rows x 4 columns]

In [6]:
df_test

     Impression      Click  Purchase    Earning
0  120103.50380 3216.54796 702.16035 1939.61124
1  134775.94336 3635.08242 834.05429 2929.40582
2  107806.62079 3057.14356 422.93426 2526.24488
3  116445.27553 4650.47391 429.03353 2281.42857
4  145082.51684 5201.38772 749.86044 2781.69752
..          ...        ...       ...        ...
35  79234.91193 6002.21358 382.04712 2277.86398
36 130702.23941 3626.32007 449.82459 2530.84133
37 116481.87337 4702.78247 472.45373 2597.91763
38  79033.83492 4495.42818 425.35910 2595.85788
39 102257.45409 4800.06832 521.31073 2967.51839

[40 rows x 4 columns]

In [7]:
df_control.describe().T

,count,mean,std,min,25%,50%,75%,max
Impression,40.00000,101711.44907,20302.15786,45475.94296,85726.69035,99790.70108,115212.81654,147539.33633
Click,40.00000,5100.65737,1329.98550,2189.75316,4124.30413,5001.22060,5923.80360,7959.12507
Purchase,40.00000,550.89406,134.10820,267.02894,470.09553,531.20631,637.95709,801.79502
Earning,40.00000,1908.56830,302.91778,1253.98952,1685.84720,1975.16052,2119.80278,2497.29522

In [8]:
df_test.describe().T

,count,mean,std,min,25%,50%,75%,max
Impression,40.00000,120512.41176,18807.44871,79033.83492,112691.97077,119291.30077,132050.57893,158605.92048
Click,40.00000,3967.54976,923.09507,1836.62986,3376.81902,3931.35980,4660.49791,6019.69508
Purchase,40.00000,582.10610,161.15251,311.62952,444.62683,551.35573,699.86236,889.91046
Earning,40.00000,2514.89073,282.73085,1939.61124,2280.53743,2544.66611,2761.54540,3171.48971

In [9]:
df_control.isnull().sum()

Impression    0
Click         0
Purchase      0
Earning       0
dtype: int64

In [10]:
df_test.isnull().sum()

Impression    0
Click         0
Purchase      0
Earning       0
dtype: int64

In [11]:
df_control.dtypes

Impression    float64
Click         float64
Purchase      float64
Earning       float64
dtype: object

In [12]:
df_test.dtypes

Impression    float64
Click         float64
Purchase      float64
Earning       float64
dtype: object

In [13]:
df_control_cpy = df_control.copy()

In [14]:
df_control_cpy

     Impression      Click  Purchase    Earning
0   82529.45927 6090.07732 665.21125 2311.27714
1   98050.45193 3382.86179 315.08489 1742.80686
2   82696.02355 4167.96575 458.08374 1797.82745
3  109914.40040 4910.88224 487.09077 1696.22918
4  108457.76263 5987.65581 441.03405 1543.72018
..          ...        ...       ...        ...
35 132064.21900 3747.15754 551.07241 2256.97559
36  86409.94180 4608.25621 345.04603 1781.35769
37 123678.93423 3649.07379 476.16813 2187.72122
38 101997.49410 4736.35337 474.61354 2254.56383
39 121085.88122 4285.17861 590.40602 1289.30895

[40 rows x 4 columns]

In [15]:
a = []
for i in df_control_cpy.columns:
    a.append(df_control_cpy[i].name + "_c")
    print(a)
    
df_control.columns = a

['Impression_c']
['Impression_c', 'Click_c']
['Impression_c', 'Click_c', 'Purchase_c']
['Impression_c', 'Click_c', 'Purchase_c', 'Earning_c']

In [16]:
b = []
for i in df_test.columns:
    b.append(df_test[i].name + "_t")
    
    
df_test.columns = b

In [17]:
df_test

    Impression_t    Click_t  Purchase_t  Earning_t
0   120103.50380 3216.54796   702.16035 1939.61124
1   134775.94336 3635.08242   834.05429 2929.40582
2   107806.62079 3057.14356   422.93426 2526.24488
3   116445.27553 4650.47391   429.03353 2281.42857
4   145082.51684 5201.38772   749.86044 2781.69752
..           ...        ...         ...        ...
35   79234.91193 6002.21358   382.04712 2277.86398
36  130702.23941 3626.32007   449.82459 2530.84133
37  116481.87337 4702.78247   472.45373 2597.91763
38   79033.83492 4495.42818   425.35910 2595.85788
39  102257.45409 4800.06832   521.31073 2967.51839

[40 rows x 4 columns]

In [18]:
df = pd.concat([df_control,df_test],axis = 1)

In [19]:
df

,Impression_c,Click_c,Purchase_c,Earning_c,Impression_t,Click_t,Purchase_t,Earning_t
0,82529.45927,6090.07732,665.21125,2311.27714,120103.50380,3216.54796,702.16035,1939.61124
1,98050.45193,3382.86179,315.08489,1742.80686,134775.94336,3635.08242,834.05429,2929.40582
2,82696.02355,4167.96575,458.08374,1797.82745,107806.62079,3057.14356,422.93426,2526.24488
3,109914.40040,4910.88224,487.09077,1696.22918,116445.27553,4650.47391,429.03353,2281.42857
4,108457.76263,5987.65581,441.03405,1543.72018,145082.51684,5201.38772,749.86044,2781.69752
...,...,...,...,...,...,...,...,...
35,132064.21900,3747.15754,551.07241,2256.97559,79234.91193,6002.21358,382.04712,2277.86398
36,86409.94180,4608.25621,345.04603,1781.35769,130702.23941,3626.32007,449.82459,2530.84133
37,123678.93423,3649.07379,476.16813,2187.72122,116481.87337,4702.78247,472.45373,2597.91763
38,101997.49410,4736.35337,474.61354,2254.56383,79033.83492,4495.42818,425.35910,2595.85788
39,121085.88122,4285.17861,590.40602,1289.30895,102257.45409,4800.06832,521.31073,2967.51839

HO : M1 = M2
H1 : M1 != M2
Purchases made with the maximum bidding method are no different from the purchases made with the average bidding method.

In [20]:
print("Max_bidding_mean :", (df["Purchase_c"].mean()))
print("Average_bidding_mean :", (df["Purchase_t"].mean()))

Max_bidding_mean : 550.8940587702316
Average_bidding_mean : 582.1060966484675

Before we test the hypothesis, we need to check the assumptions. These are the assumptions of normality and homogeneity of variance.

H0 : The assumption of normal distribution is provided.
H1 : The assumption of normal distribution is not provided.

In [21]:
import statsmodels.stats.api as sms
from scipy.stats import ttest_1samp, shapiro, levene, ttest_ind, mannwhitneyu, pearsonr, spearmanr, kendalltau, f_oneway, kruskal
from statsmodels.stats.proportion import proportions_ztest

In [22]:
#FOR CONTROL GROUP
test_stat_1, pvalue_1 = shapiro(df["Purchase_c"])
print("test_stat_1 = ", "%.4f" % test_stat_1)
print("pvalue_1 = ", "%.4f" % pvalue_1)

test_stat_1 =  0.9773
pvalue_1 =  0.5891

In [23]:
#FOR TEST GROUP
test_stat_2, pvalue_2 = shapiro(df["Purchase_t"])
print("test_stat_2 = ", "%.4f" % test_stat_2)
print("pvalue_2 = ", "%.4f" % pvalue_2)

test_stat_2 =  0.9589
pvalue_2 =  0.1541

Assumption of normality is provided for both groups.

H0 : The assumption of homogeneity of variance is provided.
H1 : The assumption of homogeneity of variance is not provided.

In [24]:
test_stat_3, pvalue_3 = levene(df["Purchase_c"],df["Purchase_t"])
print("test_stat_3 = ", "%.4f" % test_stat_3)
print("pvalue_3 = ", "%.4f" % pvalue_3)

test_stat_3 =  2.6393
pvalue_3 =  0.1083

In [25]:
df["Purchase_c"].var()

17985.009646860155

In [26]:
df["Purchase_t"].var()

25970.132590260022

variance homogeneity assumption is provided.

Since the assumptions are satisfied, the ttest hypothesis test can be applied.

In [27]:
test_stat_4, pvalue_4 = ttest_ind(df["Purchase_t"],df["Purchase_c"],
                              equal_var=True)
print("test_stat_4 = ", "%.4f" % test_stat_4)
print("pvalue_4 = ", "%.4f" % pvalue_4)

test_stat_4 =  0.9416
pvalue_4 =  0.3493

HO cannot be rejected, so there is no statistical difference between the two methods.